/* Whole Doc */
body{
    background: url(./bg.jpg) no-repeat;
    background-position: top center;
    background-size: cover;
}

#overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #d63031;
    opacity: 0.5;
    z-index: -1;
}

/* Complete Player */
#mp3_player{
    position: relative;
    top: 300px;
    width: 700px;
    height: 115px;
    border: #d63031 solid 5px;
    background-color: rgb(223, 230, 233, 0.7);
    border-radius: 40px;
    padding: 5px;
    margin: 50px auto;
}

/* Audio Player */
#mp3_player > div > audio{
    width: 690px;
    height: 30px;
    background: #9b0505;
    float: left;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding: 5px 5px 0 5px;
}

/* Canvas */
#mp3_player > canvas{
    width: 700px;
    height: 80px;
    background: rgb(9, 132, 227, 0.7);
    float: left;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}